{block content}

{include '../__inc/header.latte'}

<div n:if="count($items)" class="page-section pt-90 pb-60 section-bg-8">
    <div class="container">
        <div class="row fix-height">
            {if count($items) > 1}
                <div n:foreach="$items as $gallery" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                    {var $image = $gallery->getImage()}
					{var $detailUrl = page("galleries")->full_url."/".$gallery->slug."/".$gallery->id}

                    <div class="bu-services-img  mb-30">
                        <div class="img-holder">
                            <figure>
                                <a href="{$detailUrl}" class="img-popup">
                                    <img src="{$image->file|image:gallery}" alt="{$image->file|imageTitle}" />
                                </a>
                            </figure>
                        </div>
                        {var $imageTitle = ($image->file|imageTitle)}
                        <div class="text-holder">
                            <h4 n:if="$gallery->name">
                                <a href="{$detailUrl}" class="img-popup">{$gallery->name}</a>
                            </h4>
                            <a href="{$detailUrl}" class="bu-color link img-popup"><span class="ti-arrow-right"></span></a>
                        </div>
                    </div>
                </div>
            {else}
            {var $gallery = end($galleries)}
            {var $images = $gallery->getImages()}

                <div class="gallery-v1">
                    <div n:foreach="$images as $image" n:if="$image->file" class="col-sm-6 col-md-4 picbox">
                        <a class="lightbox overlay" href="{$image->file|image:original}" data-toggle="lightbox" data-gallery="example-gallery">
                            <figure><img src="{$image->file|image:gallery}" class="img-fluid" alt="{$image->file|imageTitle}"></figure>
                        </a>
                    </div>
                </div>
            {/if}
        </div>
    </div>
</div>

{control contentBlocks}

