{block content}
{include '../__inc/header.latte'}

<div n:if="$images = $item->getImages()"  class="page-section pt-90 pb-60">
    <div class="container">
        <div class="row">
            <div n:if="$item->name" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$item->name}</h2>
                </div>
            </div>

            <div class="gallery-v1">
                <div n:foreach="$images as $image" n:if="$image->file" class="col-sm-6 col-md-4 picbox">
                    <a class="lightbox overlay" href="{$image->file|image:original}" data-toggle="lightbox" data-gallery="example-gallery">
                        <figure><img src="{$image->file|image:gallery}" class="img-fluid" alt="{$image->file|imageTitle}"></figure>
                    </a>
                </div>
            </div>

            <div n:if="$linkLabel = content('galleries', 'linkLabel')" class="col-12 pl-15 pr-15">
                <a href="{page('galleries')->full_url}" class="bu-button-simple bu-bgcolor button-swipe btn-4 mt-5 mb-10 m-b-lg-30">{$linkLabel}</a>
            </div>
        </div>

    </div>
</div>


