<div class="sidebar-widget shop-sidebar-border mb-30 pt-30">
    <h4 class="sidebar-widget-title">{$filterParameter->name}</h4>
    <div class="price-filter pt-5">
        <div id="slider-range" data-min="{$control->getPriceMin()}" data-max="{$control->getPriceMax()}" data-from="{$control->getPriceFrom()}" data-to="{$control->getPriceTo()}" data-step="1" data-url="{$control->getPriceFilterUrl('VALUE')}"></div>
        <div class="price-slider-amount">
            <div class="label-input">
                <input type="text" id="amount" name="price" placeholder="300 - 1500" readonly="readonly" />
            </div>
        </div>
    </div>
</div>