{var $options = $control->getOptionsForFilter($filterParameter->getProperty())}

<div n:if="count($options)" class="sidebar-widget shop-sidebar-border mb-30 pt-30">
    {var $filterValues = $control->getFilterValues($filterParameter->id)}
    <h4 class="sidebar-widget-title">
        {$filterParameter->name}
    </h4>
    <div class="sidebar-widget-list">
        <select n:if="$filterParameter->filter_types_id == \ProductFilterParametersEntity::FILTER_TYPE_SELECT">
            {var $filteredValue = reset($filterValues)}
            {var $filterUrl = $control->getFilterUrl($filterParameter->id, $filteredValue)}
            <option data-href="{$filterUrl}">-</option>
            {foreach $options as $option}
                {var $filterUrl = $control->getFilterUrl($filterParameter->id, $option->id)}
                <option data-href="{$filterUrl}" {if in_array($option->id, $filterValues)} selected{/if}> {$option->name}</option>
            {/foreach}
        </select>

        <ul n:if="$filterParameter->filter_types_id == \ProductFilterParametersEntity::FILTER_TYPE_CHECKBOX" class="filter-checkboxes">
            <li n:foreach="$options as $option">
                {var $filterUrl = $control->getFilterUrl($filterParameter->id, $option->id)}
                <div class="sidebar-widget-list-left">
                    <input type="checkbox"{if in_array($option->id, $filterValues)} checked="checked"{/if} data-url="{$filterUrl}">
                    <a href="{$filterUrl}">
                        {$option->name}
                    </a>
                    <span class="checkmark"></span>
                </div>
            </li>
        </ul>
    </div>
</div>
