{var $brands = $control->getBrandsForFilter()}

<div n:if="count($brands)" class="sidebar-widget shop-sidebar-border mb-30 pt-30">
    {var $filterValues = $control->getFilterValues($filterParameter->id)}
    <h4 class="sidebar-widget-title">
        {$filterParameter->name}
    </h4>
    <div class="sidebar-widget-list">
        <ul class="filter-checkboxes">
            <li n:foreach="$brands as $brand">
                {var $filterUrl = $control->getFilterUrl($filterParameter->id, $brand->id)}
                <div class="sidebar-widget-list-left">
                    <input type="checkbox"{if in_array($brand->id, $filterValues)} checked="checked"{/if} data-url="{$filterUrl}">
                    <a href="{$filterUrl}">
                        {$brand->name}
                    </a>
                    <span class="checkmark"></span>
                </div>
            </li>
        </ul>
    </div>
</div>