{block content}

{include '../__inc/header.latte'}


<div class="page-section pt-90 pb-80">
    <div class="container">
        <div class="row">
            <!-- section heading -->
            <div n:if="$title = content('projects', 'title')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$title}</h2>
                </div>
            </div>
            <!-- section heading -->
            <div n:if="$projectsCategories = $presenter->getProjectsCategoriesEntities(TRUE)" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div id="filters" class="button-group">
                    <button n:if="$catgoryShowAll= content('projects', 'category_show_all')" class="filter-btn active" data-filter="*">{$catgoryShowAll}</button>
                    <button n:foreach="$projectsCategories as $projectsCategory" class="filter-btn" data-filter=".category-{$projectsCategory->id}">{$projectsCategory->name}</button>
                </div>
            </div>
            <div n:if="isset($projects) && count($projects)" class="container-fluid no-gutter">

                <div id="posts" class="row fix-height">
                    {foreach $projects as $item}
                        {var $category = $item->getCategory()}
                        {var $url = $page->full_url."/".$item->slug."/".$item->id}

                        <div n:if="isset($category) && $category" class="item category-{$category->id} col-sm-4 col-md-3" data-category="category-{$category->id}">
                            <div class="item-wrap">
                                <div class="bu-porfolio-classic">
                                    <div n:if="$item->image" class="img-holder">
                                        <figure>
                                            <a href="{$url}"><img src="{$item->image|image:projectThumb}"></a>
                                        </figure>
                                    </div>
                                    <div class="text-holder pt-20 pb-20 height">
                                        <span n:if="$category->name" class="category bu-color">{$category->name}</span>
                                        <h3><a href="{$url}">{$item->name}</a></h3>
                                        <a href="{$url}" class="bu-color link"><span class="ti-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>

{control contentBlocks}

