{block content}
{var $categoryImage = $item->getCategory() ? $item->getCategory()->image}

{include '../__inc/header.latte', background=>$categoryImage}
{var $images = $item->getImages()}

<div class="page-section mt-90">
    <div class="container">
        <div class="row">
            <div n:if="$item->image" class="col-lg-7 col-md-7 col-sm-7 col-xs-12 mb-30">
                <div class=" bu-portfolio-detail">
                    <div class="img-holder">
                        <figure>
                            <a class="lightbox overlay" href="{$item->image|image:original}" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{$item->image|image:project}" class="img-fluid" style="width:100%">
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pb-40 text-custom">
                <div class="simple-heading">
                    <h3 n:if="$item->title">{$item->title ? $item->title : $item->name}</h3>
                </div>

                {$item->description|noescape}
            </div>
        </div>
    </div>
</div>
<div  class="page-section mb-40">
    <div class="container">
        <div n:if="$item->text" class="text-holder project-text mb-40 text-custom">
            {$item->text|noescape}
        </div>

        <div n:if="count($images)" class="row">
            <div class="gallery-v1">
                <div n:foreach="$images as $image" class="col-sm-6 col-md-4 picbox">
                    <a class="lightbox overlay" href="{$image->file|image:original}" data-toggle="lightbox" data-gallery="example-gallery">
                        <figure><img src="{$image->file|image:gallery}" class="img-fluid"></figure>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div n:if="$feedback = $item->getFeedback()" class="page-section pt-90 pb-90">
    <div class="container">
        <div class="row">
            <!-- section heading -->
            <div n:if="$title = content('projects','feedbacks_title')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$title}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="bu-testimonial-slider">
                    <li>
                        <div class="bu-testimonials-v1">
                            <div class="text-holder">
                                <p n:if="$feedback->text">{$feedback->text}</p>
                                <div class="author-info">
                                    <figure n:if="$feedback->image" ><img src="{$feedback->image|image:feedback}" alt="{$feedback->image|imageTitle}"></figure>
                                    <h6 n:if="$feedback->name">{$feedback->name}</h6>
                                    <span n:if="$feedback->rank">{$feedback->rank}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Intro Section -->
<div n:if="$services = $item->getServices()" class="page-section pt-90 mb-120 section-bg-8 col-lg-12 wp-100">
    <div class="container">
        <div class="row fix-height mb-30">

            <div n:if="$title = content('projects','services_title')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$title}</h2>
                </div>
            </div>

            {var $pgService = page('services')}
            <div n:foreach="$services as $service" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                {var $serviceLink = $service->link ? $service->link : page('services')->full_url."/".$service->getUrl()}
                {var $targetBlank = $service->open_to_blank ? "target='_blank'" : "target='_self'"}

                <div class="bu-services-img mb-30">
                    <div class="img-holder">
                        <figure>
                            <a href="{$serviceLink}" {$targetBlank|noescape}><img src="{$service->image|image:serviceThumb}"></a>
                        </figure>
                    </div>
                    <div class="text-holder height">
                        <h4 n:if="$service->name"><a href="{$serviceLink}" {$targetBlank|noescape}>{$service->name}</a></h4>
                        <p>{$service->description}</p>
                        <a href="{$serviceLink}" {$targetBlank|noescape} class="bu-color link"><span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
