{block content}

{include '../__inc/header.latte'}

<div n:if="isset($items) && count($items)" class="mt-60">
	<div class="container">
		<div class="section-content pb-40">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="blog blog-classic">
						<div class="row">
							<div n:foreach="$items as $item" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="blog-post">
									<div n:if="$item->image" class="img-holder">
										<figure>
											<a href="{$page->full_url}{$item->getUrl()}"><img src="{$item->image|image:blogList}"></a>
										</figure>
									</div>
									<div class="text-holder">
										<ul n:if="$item->date" class="post-date">
											<li><a href="{$page->full_url}{$item->getUrl()}"><span class="ti-calendar"></span>{$item->date->format('d. m. Y')}</a></li>
										</ul>
										<div n:if="$item->name" class="post-title">
											<h4><a href="{$page->full_url}{$item->getUrl()}">{$item->name}</a></h4>
										</div>
										<p n:if="$item->perex">{$item->perex}</p>
										<a n:if="$btnText = content('blog','btn_read_more')" href="{$page->full_url}{$item->getUrl()}" class="read-more">{$btnText} <span class="ti-angle-right"></span></a>
									</div>
								</div>
							</div>

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-10">
								<nav class="text-center">
									{control paginator}
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>