{block content}

{include '../__inc/header.latte'}

<div class="mt-60">
    <div class="container">
        <div class="section-content pb-6 pb-60">
            <figure n:if="$item->image" ><img src="{$item->image|image:blogDetail}"></figure>
            <div n:if="$item->text" class="bu-blog-detail-text mt-40 text-custom">
                <div n:if="$item->name" class="post-title">
                    <h2>{$item->name}</h2>
                </div>
                {$item->text|noescape}
            </div>
            <div class="bu-blog-detail-text mt-40">
                <a n:if="$btnText = content('blog', 'btn_back')" href="{$page->full_url}" class="bu-button-simple bu-bgcolor button-swipe btn-3">{$btnText}</a>
            </div>
        </div>
    </div>
</div>

{control contentBlocks}
