<div class="row flex-row-reverse">
	<div class="col-lg-9">
		<div class="shop-topbar-wrapper">
			<div class="shop-topbar-left">
				<p>{content('products', 'product_counter_text')}: {$control->getTotalItemsCount()|float:0}</p>
			</div>

			<div class="product-sorting-wrapper">
				<div class="product-show shorting-style">
					<label>{content('products', 'product_sorting_text')}:</label>
					<select class="change-to-ajax" data-url="{$control->getOrderUrl()}">
						{foreach $control->getOrderOptions() as $i => $n}
							<option value="{$i}"{if $i === $control->getOrder()} selected="selected"{/if}>{content('products', $n)}</option>
						{/foreach}
					</select>
				</div>
			</div>
		</div>

		<div class="shop-bottom-area">
			<div class="tab-content jump">
				<div id="shop-1" class="tab-pane active">
					<div class="row" n:snippet="list">
						<div n:foreach="$control->getProducts() as $product" class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
							{var $price = $product->getPrice()}
							<div class="single-product-wrap mb-35">
								<div class="product-img product-img-zoom mb-15">
									<a href="{$product->getUrl()}">
										<img src="{$product->getImageFile()|image:productList}" alt="{$product->name}" />
									</a>
									<span n:if="count($labels = $product->getLabels())" class="pro-badges right">
										<span n:foreach="$labels as $label" class="pro-badge" style="background-color: {$label->getBackgroundColor()|noescape}; color: {$label->getTextColor()|noescape};">{$label->name}</span>
									</span>
								</div>
								<div class="product-content-wrap-2 text-center">
									<h3>
										<a href="{$product->getUrl()}">{$product->name}</a>
									</h3>
									<div class="product-price-2">
										<span n:class="$price->isAction() ? 'new-price'">{$price->getFinalPrice()|price}</span>
										<span n:if="$price->isAction()" class="old-price">{$price->getOriginPrice()|price}</span>
									</div>
								</div>
								<div class="product-content-wrap-2 product-content-position text-center">
									<h3>
										<a href="{$product->getUrl()}">{$product->name}</a>
									</h3>
									<div class="product-price-2">
										<span n:class="$price->isAction() ? 'new-price'">{$price->getFinalPrice()|price}</span>
										<span n:if="$price->isAction()" class="old-price">{$price->getOriginPrice()|price}</span>
									</div>
									<div class="pro-add-to-cart">
										<a href="{$product->getUrl()}">{content('products', 'btn_buy')}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			{var $currentPage = $control->getCurrentPage()}
			{var $totalPagesCount = $control->getTotalPagesCount()}

			<div n:if="$totalPagesCount > 1" class="pro-pagination-style text-center mt-10">
				<ul>
					<li n:if="$currentPage > 1">
						<a class="prev" href="{$control->getPagingUrl($currentPage - 1)}">
							<i class="icon-arrow-left"></i>
						</a>
					</li>
					<li n:for="$i = 1; $i <= $control->getTotalPagesCount(); $i++">
						<a n:class="$i === $currentPage ? 'active'" href="{$control->getPagingUrl($i)}">{$i}</a>
					</li>
					<li n:if="$currentPage < $totalPagesCount">
						<a class="next" href="{$control->getPagingUrl($currentPage + 1)}">
							<i class="icon-arrow-right"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-lg-3">
		<div class="sidebar-widget mb-40">
			<h4 class="sidebar-widget-title">{content('products', 'searching_title')}</h4>
			<div class="sidebar-search">
				{form searchForm class => 'sidebar-search-form ajax'}
					{input query}
					<button n:name="submit">
						<i class="icon-magnifier"></i>
					</button>
				{/form}
			</div>
		</div>

		<div class="sidebar-wrapper sidebar-wrapper-mrg-right">
			{var $categories = $control->getCategoriesTree()}
			{var $activeParentsIds = $control->getActiveParentsIds()}
			{var $queryUrl = $control->getQuery() ? '?q='.$control->getQuery() : ''}
			{var $pageProducts = $presenter->getPage('products')}
			<div n:if="count($categories)" class="sidebar-widget shop-sidebar-border mb-30 pt-30">
				<h4 class="sidebar-widget-title">
					{content('products', 'category_title')}
				</h4>
				<div class="shop-catigory">
					<ul>
						<li n:if="$pageProducts">
							<a href="{$pageProducts->full_url}{$queryUrl}" n:class="!count($activeParentsIds) ? 'active'">
								{content('products', 'category_item_all')}
							</a>
						</li>
						<li n:foreach="$categories as $c">
							<a href="{$c['item']->full_url}{$queryUrl}" n:class="in_array($c['item']->id, $activeParentsIds) ? 'active'">
								{$c['item']->name}
							</a>
							<ul n:if="count($c['subCategories']) && in_array($c['item']->id, $activeParentsIds)">
								<li n:foreach="$c['subCategories'] as $s">
									<a href="{$s['item']->full_url}{$queryUrl}" n:class="in_array($s['item']->id, $activeParentsIds) ? 'active'">
										{$s['item']->name}
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			{foreach $control->getFilterParameters() as $filterParameter}
				{if $filterParameter->types_id === \ProductFilterParametersEntity::TYPE_LABELS}
					{include 'filters/filterLabels.latte', filterParameter => $filterParameter}
				{elseif $filterParameter->types_id === \ProductFilterParametersEntity::TYPE_PROPERTY}
					{include 'filters/filterProperty.latte', filterParameter => $filterParameter}
				{elseif $filterParameter->types_id === \ProductFilterParametersEntity::TYPE_BRANDS}
					{include 'filters/filterBrands.latte', filterParameter => $filterParameter}
				{elseif $filterParameter->types_id === \ProductFilterParametersEntity::TYPE_PRICE}
					{include 'filters/filterPrice.latte', filterParameter => $filterParameter}
				{/if}
			{/foreach}

			{if count($control->parseFilterValues()) > 0 && $pageProducts}
				<a href="{$pageProducts->full_url}" class="btn btn-red">Resetovat filtr</a>
			{/if}
		</div>
	</div>
</div>