{if count($control->getLinks())}

  {if $type == 'unset'}
    <ul>
      <li n:foreach="$control->getLinks() as $item">
        <a href="{$item->link}" title="{$item->name}">
          <i class="{$control->getIcon($item->icon)}">
          </i>
        </a>
      </li>
    </ul>
  {elseif $type == 'footer'}
    <ul>
      <li n:foreach="$control->getLinks() as $item">
        <a href="{$item->link}" title="{$item->name}"><span class="{$control->getIcon($item->icon)}"></span></a>
      </li>
    </ul>
  {elseif $type == 'contactForm'}
    <li n:if="$links = $control->getLinks()" class="button-swipe-blue">
      <div class="contact-icon bu-color "><span class="ti-sharethis-alt"></span></div>
      <div class="contact-label">
        <div class="bu-social-media">
          <ul>
            <li n:foreach="$links as $item">
              <a href="{$item->link}" title="{$item->name}"><span class="{$control->getIcon($item->icon)}"></span></a>
            </li>
          </ul>
        </div>
      </div>
    </li>
  {elseif $type == 'header'}
    <ul>
        <li n:foreach="$control->getLinks() as $item">
          <a href="{$item->link}" title="{$item->name}"><span class="{$control->getIcon($item->icon)}"></span></a>
        </li>
    </ul>
  {/if}
{/if}
