<!doctype html>
<html class="no-js" lang="{$language->id}">

{var $antiCache = date('YmdH').'-1'}

{var $cssDir = "/__domains/".WEBSITE_TEMPLATE_SYSTEM."/css"}
{var $jsDir = "/__domains/".WEBSITE_TEMPLATE_SYSTEM."/js"}
{var $fontsDir = "/__domains/".WEBSITE_TEMPLATE_SYSTEM."/fonts"}

<head>
    {control metaInfo}
    {\SettingsEntity::getFaviconCode(settings('favicon'))|noescape}

    {*TEMPLATE CSS*}
    <link href="{$cssDir}/bootstrap.css" rel="stylesheet">
    <link href="{$cssDir}/bootstrap-theme.css" rel="stylesheet">
    <link href="/plugins/fontawesome/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="{$fontsDir}/themify-icons/themify-icons.css" rel="stylesheet">
    <link href="{$cssDir}/style.css?v={$antiCache}" rel="stylesheet">
    <link href="{$cssDir}/menu.css" rel="stylesheet">
    <link href="{$cssDir}/ekko-lightbox.css" rel="stylesheet">
    <link href="{$cssDir}/color.css" rel="stylesheet">
    <link href="{$cssDir}/external-style.css" rel="stylesheet">
    <link href="{$cssDir}/widget.css" rel="stylesheet">
    <link href="{$cssDir}/responsive.css" rel="stylesheet">
    <link href="/plugins/fontawesome-iconpicker/css/fontawesome-iconpicker.min.css" rel="stylesheet" type="text/css"/>

    {include '../../__inc/css.latte' 'antiCache' => $antiCache}

    {if $customCodeHeader = settings('custom_code_header')}
        {$customCodeHeader|noescape}
    {/if}
</head>

<body>
{if $customCodeHeader = settings('custom_code_body_start')}
    {$customCodeHeader|noescape}
{/if}

<div class="wrapper">
    <header id="header" class="modern" n:snippetArea="headerWrapper">
            {include '__inc/headerDesktopTop.latte'}
            {include '__inc/headerDesktopMenu.latte'}
    </header>
    <div id="main">
        {include #content}

        {snippetArea footerWrapper}
            {include '__inc/footerBottom.latte'}
        {/snippetArea}
    </div>

</div>

{*TEMPLATE JS*}
<script src="{$jsDir}/jquery-3.6.0.min.js"></script>
<script src="{$jsDir}/jquery.js"></script>
<script src="{$jsDir}/modernizr.js"></script>
<script src="{$jsDir}/bootstrap.min.js"></script>
<script src="{$jsDir}/menu.js"></script>
<script src="{$jsDir}/slick.js"></script>
<script src="{$jsDir}/jquery.isotope.min.js"></script>
<script src="{$jsDir}/parallax/parallax.js"></script>
<script src="{$jsDir}/counter.js"></script>
<script src="{$jsDir}/jquery.fitvids.js"></script>
<script src="{$jsDir}/ekko-lightbox.js"></script>
<script src="{$jsDir}/functions.js"></script>
<script src="{$jsDir}/custom.js"></script>
<script src="/plugins/fontawesome-iconpicker/js/fontawesome-iconpicker.min.js"></script>

{include '../../__inc/js.latte' 'antiCache' => $antiCache}

<div n:snippet="flashMessages" style="display: none;">
    <div n:foreach="$flashes as $flash" n:class="flash-messages, $flash->type">{$flash->message}</div>
</div

{if $customCodeFooter = settings('custom_code_footer')}
    {$customCodeFooter|noescape}
{/if}

</body>

</html>
