<div class="sidebar-cart-active">
    <div class="sidebar-cart-all">
        <a class="cart-close" href="#"><i class="icon_close"></i></a>
        <div class="cart-content" n:snippet="cartSidebar">
            <h3>{content('basket', 'sidebar_title')}</h3>

            {if $newOrder->getTotalItemsCount()}
                <ul>
                    <li n:foreach="$newOrder->getItems() as $i" class="single-product-cart">
                        <div class="cart-img">
                            <a href="{$i->getVariant()->getUrl()}">
                                <img src="{$i->getProduct()->getImageFile()|image:productList}" alt="{$i->getProduct()->name}" />
                            </a>
                        </div>
                        <div class="cart-title">
                            <h4>
                                <a href="{$i->getVariant()->getUrl()}">
                                    {$i->getProduct()->name}<br />
                                    <small>
                                        {$i->getProduct()->code},
                                        {$i->getVariant()->getName()}
                                    </small>
                                </a>
                            </h4>
                            <span>
                                {$i->getUnitsCount()|float} × {$i->getUnitPrice(TRUE)|price}
                            </span>
                        </div>
                        <div class="cart-delete">
                            <a n:href="removeItemFromCart! $i->getProduct()->id, $i->getVariant()->id" class="ajax">×</a>
                        </div>
                    </li>
                </ul>
                <div class="cart-total">
                    <h4>
                        {content('basket', 'sidebar_price')}: <span>{$newOrder->getTotalItemsPrice(TRUE)|price}</span>
                    </h4>
                </div>
                <div n:if="$pg = page('order_cart')" class="cart-checkout-btn">
                    <a class="btn-hover cart-btn-style" href="{$pg->full_url}">{content('basket', 'sidebar_btn_text')}</a>
                </div>
            {else}
                <p>{content('basket', 'sidebar_empty')}</p>
            {/if}
        </div>
    </div>
</div>