<div class="subscribe-area bg-gray pt-115 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5">
                <div n:if="$content = content('newsletter', 'text')" class="section-title">
                    {$content|noescape}
                </div>
            </div>

            <div n:if="!$isErrorPage" class="col-lg-7 col-md-7">
                <div id="mc_embed_signup" class="subscribe-form">
                    {form newsletterForm class => 'ajax subscribe-form-style'}
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            {input email placeholder => content('newsletter', 'placeholder')}
                            <div class="clear">
                                {input submit class => 'button', value => content('newsletter', 'button')}
                            </div>
                        </div>
                    {/form}
                </div>
            </div>
        </div>
    </div>
</div>
