<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bu-footer-logo-holder center">
                    <div class="bu-footer-nav">
                        <div class="footer-nav">
                            <ul>
                                <li n:foreach="$presenter->getFooterItems() as $item"><a href="{$item->url}"{$item->blank ? ' target="_blank"' : ''}>{$item->name}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bu-copyright">
        <div class="container">
            <div class="row">
                <div n:if="$copyright = content('footer','copyright')" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="copyright-text">
                        {$copyright|replace:['{*Y*}' => date('Y')]|noescape}
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="bu-social-media">
                        {control links type => 'footer'}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>