{var $street = content("contact", "street")}
{var $city = content("contact", "city")}
{var $zip = content("contact", "zip")}

<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <ul class="top-nav nav-left">
                    <li>
                        <p><span class="ti-location-pin"></span> {$street.", ".$zip." ".$city}</p>
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="bu-social-media">
                    {control links type => 'header'}
                </div>

            </div>
        </div>
    </div>
</div>
