<div class="header-small-device small-device-ptb-1 border-bottom-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-5">
                <div n:if="$logo = settings('logo')" class="mobile-logo">
                    <a n:tag-if="$pg = page('home')" href="{$pg->full_url}">
                        <img src="{$logo|image:original}" alt="" />
                    </a>
                </div>
            </div>

            <div class="col-7">
                <div class="header-action header-action-flex">
                    <div n:if="$pg = page($customer ? 'account' : 'login')" class="same-style-2 same-style-2-font-inc">
                        <a href="{$pg->full_url}">
                            <i class="icon-user"></i>
                        </a>
                    </div>

                    <div class="same-style-2 same-style-2-font-inc header-cart" n:snippet="cartHeaderMobile">
                        <a class="cart-active" href="#">
                            <i class="icon-basket-loaded"></i>
                            <span n:if="$count = $newOrder->getTotalItemsCount()" class="pro-count black">{$count}</span>
                        </a>
                    </div>

                    <div class="same-style-2 main-menu-icon">
                        <a class="mobile-header-button-active" href="#">
                            <i class="icon-menu"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
