<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="clickalbe-sidebar-wrap">
        <a class="sidebar-close">
            <i class="icon_close"></i>
        </a>

        <div class="mobile-header-content-area">
            <div n:if="$content = content('header', 'info')" class="header-offer-wrap-3 mobile-header-padding-border-4 black">
                {$content|noescape}
            </div>

            <div n:if="!$isErrorPage" class="mobile-search mobile-header-padding-border-1">
                {form searchFormMobile class => 'search-form ajax'}
                    {input query placeholder => content('header', 'search_placeholder')}
                    <button n:name="submit" class="button-search">
                        <i class="icon-magnifier"></i>
                    </button>
                {/form}
            </div>

            <div class="mobile-menu-wrap mobile-header-padding-border-2">
                <nav>
                    <ul class="mobile-menu">
                        <li n:foreach="$presenter->getMenuItems() as $item" n:class="isset($item->items) && count($item->items) ? 'menu-item-has-children'">
                            <a href="{$item->url}" {$item->blank ? "target=_blank" : "target=_self"|noescape} n:class="$item->current ? 'active' : ''">{$item->name}</a>
                            <ul n:if="isset($item->items) && count($item->items)" class="dropdown">
                                <li n:foreach="$item->items as $subitem">
                                    <a href="{$subitem->url}" {$subitem->blank ? "target=_blank" : "target=_self"|noescape}>{$subitem->name}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <div n:if="($languages && count($languages) > 1) || ($currencies && count($currencies) > 1 && !$isErrorPage)" class="mobile-header-info-wrap mobile-header-padding-border-3">
                <div n:if="$languages && count($languages) > 1" class="single-mobile-header-info">
                    <a class="mobile-language-active" href="#">{$language->name} <span><i class="icon-arrow-down"></i></span></a>
                    <div class="lang-curr-dropdown lang-dropdown-active">
                        <ul>
                            <li n:foreach="$languages as $i" n:if="$i->id !== $language->id"><a href="{$i->page->full_url}">{$i->name}</a></li>
                        </ul>
                    </div>
                </div>
                <div n:if="$currencies && count($currencies) > 1 && !$isErrorPage" class="single-mobile-header-info">
                    <a class="mobile-currency-active" href="#">{$currency->iso_code_3|upper} <span><i class="icon-arrow-down"></i></span></a>
                    <div class="lang-curr-dropdown curr-dropdown-active">
                        <ul>
                            <li n:foreach="$currencies as $i" n:if="$i->id !== $currency->id"><a n:href="switchCurrency! $i->id">{$i->iso_code_3|upper}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mobile-contact-info mobile-header-padding-border-4">
                <ul>
                    <li n:if="$content = content('header', 'phone')">
                        <a href="tel:{str_replace(' ', '', $content)}">
                            <i class="icon-phone "></i> {$content}
                        </a>
                    </li>
                    <li n:if="$content = content('header', 'email')">
                        <a href="mailto:{str_replace(' ', '', $content)}">
                            <i class="icon-envelope-open "></i> {$content}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="mobile-social-icon">
                <a n:if="$content = content('header', 'url_facebook')" href="{$content}" target="_blank" class="facebook">
                    <i class="icon-social-facebook"></i>
                </a>
                <a n:if="$content = content('header', 'url_instagram')" href="{$content}" target="_blank" class="instagram">
                    <i class="icon-social-instagram"></i>
                </a>
                <a n:if="$content = content('header', 'url_youtube')" href="{$content}" target="_blank" class="youtube">
                    <i class="icon-social-youtube"></i>
                </a>
                <a n:if="$content = content('header', 'url_twitter')" href="{$content}" target="_blank" class="twitter">
                    <i class="icon-social-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</div>