{var $defaultBg = content('header', 'background')}
<div class="parallax-window" data-parallax="scroll" data-image-src="{isset($background) && !empty($background) ? ($background|image:header) : ($page->image_sharing ? ($page->image_sharing|image:header) : ($defaultBg|image:header))}">
    <div class="sub-header align-left modern">
        <div class="container">
            <div class="row">
                <div n:if="$page->name" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-30">
                    <div class="text-holder">
                        <div class="page-title">
                            <h1>{$page->name}</h1>
                        </div>
                    </div>
                </div>
                {control breadcrumbs}
            </div>
        </div>
    </div>
</div>