<div class="container">
    <div class="main-header">
        <div class="row">
            <div n:if="$logo = settings('logo')" class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="bu-logo bu-logo-dark">
                    <div class="bu-media">
                        <figure>
                            <a n:tag-if="$pg = page('home')" href="{$pg->full_url}"><img src="{$logo|image:original}"></a>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="bu-main-nav">
                    <div class="nav-top-section">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="img-holder">
                                    <figure><span class="ti-mobile"></span></figure>
                                </div>
                                <div n:if="$phone = content('contact','phone')" class="text-holder">
                                    <p><a href="tel:{$phone}">{$phone}</a></p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="img-holder">
                                    <figure><span class="ti-email"></span></figure>
                                </div>
                                <div n:if="$email = content('contact','email')" class="text-holder">
                                    <p><a href="mailto:{$email}">{$email}</a></p>
                                </div>
                            </div>

                            <div n:if="count(languagesIsInMenu())" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 language" data-lang="cs">
                                <div n:foreach="languagesIsInMenu() as $lang" class="lang">
                                    <a href="{$lang->page->full_url}" n:tag-if="$language->id != $lang->id">
                                        <img n:if="$lang->image" src="{$lang->image|image:lang}" alt="{$lang->name}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="main-navigation">
                        <ul>
                            {var $category = $presenter->getParameter('category')}
                            {foreach $presenter->getMenuItems() as $item}
                                <li n:if="!count($item->items)" n:class="$item->current ? 'active'">
                                    <a href="{$item->url}" {$item->blank ? "target=_blank" : "target=_self"|noescape}>{$item->name}</a>
                                </li>

                                <li n:if="isset($item->items) && count($item->items)" n:class="$item->current ? 'active', 'menu-item-has-children'">
                                    <a href="{$item->url}" {$item->blank ? "target=_blank" : "target=_self"|noescape}>{$item->name}</a>
                                    <ul>
                                        <li n:if="$iterator->isFirst()" n:foreach="$item->items as $subitem" class="d-none d-md-block">
                                            <a href="{$item->url}" {$item->blank ? "target=_blank" : "target=_self"|noescape} data-href="{$item->url}">{$item->name}</a>
                                        </li>

                                        <li n:foreach="$item->items as $subitem">
                                            <a href="{$subitem->url}" {$subitem->blank ? "target=_blank" : "target=_self"|noescape} n:class="$category && isset($subitem->categories_id) && $category == $subitem->categories_id ? 'active'">{$subitem->name}</a>
                                        </li>
                                    </ul>
                                </li>
                            {/foreach}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>