{var $indexBanner = $presenter->getIndexBanner()}
<div n:if="$indexBanner && isset($indexBanner->id)" id="modal-indexBanner" class="modal fade" tabindex="-1" data-id="{$indexBanner->id}" data-type="{$indexBanner->types_id}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body clearfix">
				<div class="clearfix">
					<div n:if="$indexBanner->image" class="text-center">
						<a n:tag-if="$indexBanner->link" href="{$indexBanner->link}">
							<img alt="{$indexBanner->image|imageTitle}" class="index-banner-img" src="{$indexBanner->image|image:original}" />
						</a>
					</div>

					{$indexBanner->text|noescape}
				</div>
			</div>
		</div>
	</div>
</div>
