<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-30">
	<ul class="breadcrumbs">
		<li n:foreach="$control->getParts() as $part" n:class="$iterator->last ? 'active'">
			<a n:tag-if="!$iterator->last" href="{$part->url}">{$part->title}</a>
		</li>
	</ul>
</div>