{var $title = $block->getValue('title')}
{var $linkText = $block->getValue('link_text')}
{var $link = $block->getValue('link')}

{var $galleriesIds = $block->getValue('item_ids')}
{var $galleries = $galleriesIds ? getGalleries($galleriesIds) : getGalleries()}
{var $galleriesPage = page("galleries")}


<div n:if="count($galleries)" class="page-section pt-90 section-bg-8">
	<div class="container">
		<div class="row fix-height">
			<div n:if="$title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
				<div class="section-heading">
					<h2>{$title}</h2>
				</div>
			</div>

			{if count($galleries) > 1}
				<div n:foreach="$galleries as $gallery" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

					{var $image = $gallery->getImage()}
					{var $detailUrl = $galleriesPage->full_url."/".$gallery->slug."/".$gallery->id}

					<div class="bu-services-img mb-30">
						<div class="img-holder">
							<figure>
								<a href="{$detailUrl}" class="img-popup">
									<img src="{$image->file|image:gallery}" alt="{$image->file|imageTitle}" />
								</a>
							</figure>
						</div>

						<div class="text-holder">
							<h4 n:if="$gallery->name">
								<a href="{$detailUrl}" class="img-popup">{$gallery->name}</a>
							</h4>
							<a href="{$detailUrl}" class="bu-color link img-popup"><span class="ti-arrow-right"></span></a>
						</div>
					</div>
				</div>

				<div n:if="$linkText && $link" class="col-12 pl-15 pr-15">
					<a href="{$link}" class="bu-button-simple bu-bgcolor button-swipe btn-4 mt-5 mb-10 m-b-lg-30">{$linkText}</a>
				</div>
			{else}
				{var $gallery = end($galleries)}
				{var $images = $gallery->getImages()}

				<div class="gallery-v1">
					<div n:foreach="$images as $image" n:if="$image->file" class="col-sm-6 col-md-4 picbox">
						<a class="lightbox overlay" href="{$image->file|image:original}" data-toggle="lightbox" data-gallery="example-gallery">
							<figure><img src="{$image->file|image:gallery}" class="img-fluid" alt="{$image->file|imageTitle}"></figure>
						</a>
					</div>

					<div n:if="$linkText && $link" class="col-12 pl-15 pr-15">
						<a href="{$link}" class="bu-button-simple bu-bgcolor button-swipe btn-4 mt-5 mb-10 m-b-lg-30">{$linkText}</a>
					</div>
				</div>
			{/if}
		</div>
	</div>
</div>