{var $cta = getCta([$block->getValue('cta')])}
{var $ctaItem = !empty($cta) ? reset($cta) : NULL}

{if $ctaItem}
    {if $ctaItem->text}
        <div class="parallax-window" data-parallax="scroll" data-image-src="{$ctaItem->image|image:widthBlockBg}">
            <div class="page-section section-bg-6b pt-120 pb-120">
                <div class="container ">
                    <div class="row">

                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <h2 n:if="$ctaItem->title" class="mb-10">{$ctaItem->title}</h2>
                            <div class="mb-20 text-custom">{$ctaItem->text|noescape}</div>

                            <a n:if="$ctaItem->button_text && $ctaItem->button_link" href="{$ctaItem->button_link}" class="bu-button-simple bu-bgcolor button-swipe btn-4 mt-5">{$ctaItem->button_text}</a>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    {else}
        <div class="page-section section-bg-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="request-qoute">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <div class="text-holer">
                                        <h3 n:if="$ctaItem->title">{$ctaItem->title}</h3>
                                    </div>
                                </div>
                                <div n:if="$ctaItem->button_text && $ctaItem->button_link" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
                                    <a href="{$ctaItem->button_link}" class="bu-button-simple bu-bgcolor button-swipe btn-3">{$ctaItem->button_text}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/if}
{/if}
