{var $projectsIds = $block->getValue('projects')}
{var $projects = $projectsIds ? getProjects($projectsIds) : getProjects()}

{var $projectsPage = page('projects')}

<div n:if="isset($projects) && count($projects)" class="page-section pt-90 pb-60 section-bg-8">
    <div class="container">
        <div class="row">
            <!-- section heading -->
            <div n:if="$title = $block->getValue('title')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$title}</h2>
                </div>
            </div>
            <!-- section heading -->
            <!-- Portfolio View Start -->
            <ul class="portfolio-slider fix-height">
                <li n:foreach="$projects as $project" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    {var $category = (getProjectsCategories([$project->projects_categories_id])|first)}
                    {var $url = $projectsPage->full_url."/".$project->slug.'/'.$project->id}

                    <div class="bu-porfolio-classic">
                        <div n:if="$project->image" class="img-holder">
                            <figure>
                                <a href="{$url}"><img src="{$project->image|image:projectThumb}" alt="{$project->image|imageTitle}"></a>
                            </figure>
                        </div>
                        <div class="text-holder pt-20 pb-20 height">
                            <span n:if="$category" class="category">{$category->name}</span>
                            <h3 n:if="$project->name" ><a href="{$url}">{$project->name}</a></h3>
                            <a href="{$url}" class="bu-color link"><span class="ti-plus"></span></a>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- Portfolio View End -->
        </div>
    </div>
</div>