{var $testimonials = $control->getTestimonials()}
{var $title = $block->getValue('title')}

<div n:if="count($testimonials)" class="pt-60">
	<div class="testimonial-area bg-gray-3 pt-60 pb-115">
		<div class="container">
			<div n:if="$title" class="section-title mb-45 text-center">
				<h2>{$title|brakes|noescape}</h2>
			</div>
			<div class="testimonial-active-2 dot-style-2 dot-style-2-position-static">
				<div n:foreach="$testimonials as $item" class="single-testimonial-2 text-center">
					<div class="testimonial-img">
						<img alt="{$item->image|imageTitle}" src="{$item->image|image:testimonials}">
					</div>
					{$item->text|noescape}
					<div class="client-info">
						<h5>{$item->name}</h5>
						<span n:if="$item->rank">{$item->rank}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

