{var $itemIds = $block->getValue('services')}
{var $services = $itemIds ? getServices($itemIds) : getServices()}

{var $title = $block->getValue('title')}

<div n:if="isset($services) && count($services)" class="page-section pt-90 pb-60 section-bg-8">
    <div class="container">
        <div class="row fix-height">
            <!-- section heading -->
            <div n:if="$title" class="col-lg-12 col-md-12 col-sm-12 col-xs-12  mb-40">
                <div class="section-heading">
                    <h2>{$title}</h2>
                </div>
            </div>
            <!-- section heading -->
            <!-- Services View Start -->
            <div n:foreach="$services as $service" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                {var $serviceLink = $service->link ? $service->link : page('services')->full_url."/".$service->slug."/".$service->id}
                {var $targetBlank = $service->open_to_blank ? "target='_blank'" : "target='_self'"}

                <div class="bu-services-img  mb-30">
                    <div class="img-holder">
                        <figure>
                            <a href="{$serviceLink}" {$targetBlank|noescape}><img src="{$service->image|image:serviceThumb}" alt="{$service->image|imageTitle}"></a>
                        </figure>
                    </div>
                    <div class="text-holder">
                        <h4 n:if="$service->name" ><a href="{$serviceLink}" {$targetBlank|noescape}>{$service->name}</a></h4>
                        <div n:if="$service->description" class="height">{$service->description|noescape}</div>
                        <a href="{$serviceLink}" {$targetBlank|noescape} class="bu-color link"><span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>