{var $sliders = getSliders()}

<div n:if="count($sliders)" class="page-section">
    <div class="header-banner">
        <ul class="banner-transparent">
            <li n:foreach="$sliders as $i">
                <figure><img src="{$i->image|image:slider}" alt="{$i->image|imageTitle}"></figure>
            </li>
        </ul>
    </div>
</div>
