{var $gps = $block->getValue('gps')}
{var $gmApi = settings('gm_api')}

<div n:if="$gps && $gmApi" class="page-section mt-90">

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="career-map">
					<iframe src="https://www.google.com/maps/embed/v1/place?key={$gmApi}&amp;q={$gps}&amp;zoom=15" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
</div>


