{var $faqIds = $block->getValue('faq')}
{var $faq = $faqIds ? getFaq($faqIds) : getFaq()}

{var $blogIds = $block->getValue('blog')}
{var $blog = $blogIds ? getBlog($blogIds) : getBlog()}

<div class="page-section pt-90 pb-90 section-bg-2">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="row">
					<!-- section heading -->
					<div n:if="$titleFaq = $block->getValue('titleFaq')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
						<div class="section-heading">
							<h3>{$titleFaq}</h3>
						</div>
					</div>
					<!-- section heading -->
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div n:if="$textFaq = $block->getValue('textFaq')" class="bu-text">
							<p>{$textFaq}</p>
						</div>
						<div class="faq-area">
							<div class="faq panel-group " id="faq_2848769">
								<div n:foreach="$faq as $item" class="panel">
									<div n:if="$item->name" class="panel-heading">
										<strong class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#faq_2848769" href="#collapse{$item->id}" aria-expanded="false">{$item->name}</a>
										</strong>
									</div>
									<div n:if="$item->text" id="collapse{$item->id}" n:class="'panel-collapse collapse', $iterator->first ? 'in'" aria-expanded="false" role="button">
										<div class="panel-body no-border text-custom">
											{$item->text|noescape}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
				<div class="row">
					<!-- section heading -->
					<div n:if="$titleBlog = $block->getValue('titleBlog')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40 m-t-lg-30">
						<div class="section-heading">
							<h3>{$titleBlog}</h3>
						</div>
					</div>
					<!-- section heading -->

					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

						<div n:foreach="$blog as $item" class="bu-latest-news animated-border-btm">
							<figure class="blog-news">
								<img n:if="$item->image" class="d-none-lg" src="{$item->image|image:blockBlog}" >
								<figcaption>
									<div>
										<div class="img-holder">
											<div class="bu-date">
												<b>{$item->date->format('d. n.')}</b>
												<span class="bu-month">{$item->date->format('Y')}</span>
											</div>
										</div>

										<div class="text-holder">
											<h4 class="green-color"><a href="{page(blog)->full_url}{$item->getUrl()}">{$item->name}</a></h4>
											<p n:if="$item->perex"><a href="{page(blog)->full_url}{$item->getUrl()}">{$item->perex}</a></p>
										</div>
									</div>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
