{var $titleContact = $block->getValue('titleContact')}
{var $titleForm = $block->getValue('titleForm')}
{var $text = $block->getValue('text')}
{var $btnText = $block->getValue('btnText')}
{var $phone = content('contact','phone') ? content('contact','phone') : ''}
{var $email = content('contact','email') ? content('contact','email') : ''}
{var $street = content('contact','street') ? content('contact','street') : ''}
{var $city = content('contact','city') ? content('contact','city') : ''}
{var $zip = content('contact','zip') ? content('contact','zip') : ''}

{var $icoName = content('contact', 'ico_name') ? content('contact', 'ico_name') : ''}
{var $icoText = content('contact', 'ico_text') ? content('contact', 'ico_text') : ''}
{var $dicName = content('contact', 'dic_name') ? content('contact', 'dic_name') : ''}
{var $dicText = content('contact', 'dic_text') ? content('contact', 'dic_text') : ''}

{var $itemIds = $block->getValue('itemIds')}
{var $links = getLinks($itemIds ? $itemIds : [])}


<div class="page-section  mt-90 mb-90">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
				<div class="bu-holder bu-column-text row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<!-- section heading -->
						<div class="text-holder mb-30">
							<h3 n:if="$titleContact">{$titleContact}</h3>
							<p n:if="$text">{$text}<br/></p>
						</div>
						<!-- section heading -->
						<div class="contact-info">
							<ul>
								<li n:if="$street && $city && $zip" class="button-swipe-blue">
									<div class="contact-icon bu-color "><span class="ti-location-arrow bu-color"></span></div>
									<div class="contact-label"><span> {$street}<br>{$zip} {$city}</span></div>
								</li>
								<li n:if="$icoName && $icoText" class="button-swipe-blue">
									<div class="contact-icon bu-color mb-5">{*<span class="ti-time bu-color"></span>*}<img src="/images/front/kontakt-ic-dic.png"></div>
									<div class="contact-label">
										<span> {$icoName." ".$icoText}
										<br n:if="$dicName && $dicText">{$dicName." ".$dicText}
										</span>
									</div>
								</li>
								<li n:if="$phone" class="button-swipe-blue">
									<div class="contact-icon bu-color "><span class="ti-mobile bu-color"></span></div>
									<div class="contact-label"><span> <a href="tel:{$phone}">{$phone}</a></span></div>
								</li>
								<li n:if="$email" class="button-swipe-blue">
									<div class="contact-icon bu-color"><span class="ti-email bu-color"></span></div>
									<div class="contact-label"><span>  <a href="mailto:{$email}">{$email}</a></span></div>
								</li>
								<li n:if="$links" class="button-swipe-blue">
									<div class="contact-icon bu-color "><span class="ti-sharethis-alt"></span></div>
									<div class="contact-label">
										<div class="bu-social-media">
											<ul>
												<li n:foreach="$links as $item">
													<a href="{$item->link}" title="{$item->name}"><span class="{$item->icon}"></span></a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="wrap-contact100">
							{form formDynamic class => 'contact-form validate-form asp-form'}

								<span n:if="$titleForm" class="contact-form-text border-none">{$titleForm}</span>
								<div n:ifset="$form['name']" class="wrap-input50">
									<span n:if="$name = content('contact_form', 'name')" class="label-input100">{$name}</span>
									{input name class=>'input100', placeholder=>content('contact_form','name_placeholder')}
									<span class="focus-input100"></span>
								</div>
								<div n:ifset="$form['email']" class="wrap-input50">
									<span n:if="$email = content('contact_form', 'email')" class="label-input100">{$email}</span>
									{input email class=>'input100', placeholder=>content('contact_form','email_placeholder')}
									<span class="focus-input100"></span>
								</div>
								<div n:ifset="$form['phone']" class="wrap-input100">
									<span n:if="$phone = content('contact_form', 'phone')" class="label-input100">{$phone}</span>
									{input phone class=>'input100', placeholder=>content('contact_form','phone_placeholder')}
									<span class="focus-input100"></span>
								</div>

								<div n:ifset="$form['services']" class="wrap-input100 input100-select">
									<span n:if="$services = content('contact_form', 'services')" class="label-input100">{$services}</span>
									<div>
										{input services class=>'selection-2'}
									</div>
									<span class="focus-input100"></span>
								</div>

								<div n:ifset="$form['text']" class="wrap-input100 validate-input" data-validate="Message is required">
									<span n:if="$message = content('contact_form', 'message')" class="label-input100">{$message}</span>
									{input text class=>'input100', placeholder=>content('contact_form','message_placeholder')}
									<span class="focus-input100"></span>
								</div>

								{control recaptcha form => $form, classVisibleRecaptcha => 'col-lg-12 col-md-12'}

								<div n:ifset="$form['agree']" class="container-contact-form-btn">
									<div class="agree">
										{input agree class => 'agree-checkbox'}
									</div>
									{input template_system value=>"contacts_form"}
									<button n:name="send" n:if="$btnText" class="submit asp-button bu-button-simple bu-bgcolor button-swipe btn-3">{$btnText}</button>
								</div>
							{/form}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
