{var $statisticsIds = $block->getValue('statistics')}
{var $statistics = $statisticsIds ? getStatistics($statisticsIds) : getStatistics()}

{var $title = $block->getValue('title')}
{var $background = $block->getValue('background')}


<div n:if="isset($statistics) && count($statistics)" class="parallax-window" data-parallax="scroll" data-image-src="{$background|image:widthBlockBg}">
    <div class="page-section section-bg-6b pt-90 pb-90">
        <div class="container">
            <div class="row">
                <div n:if="$title" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                    <div class="bu-counter-text pr-20">
                        <h2>{$title}</h2>
                    </div>
                </div>
                <div n:foreach="$statistics as $statistic" class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="bu-counter">
                        <div class="text-holder "> <strong class="counter">{$statistic->value ? $statistic->value : 0}</strong><b><span class="ti-plus"></span></b> <span>{$statistic->name}</span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>