{var $text = $block->getValue('text')}

<div n:if="$text" class="page-section pt-60 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-custom">
				{$control->prepareHtml($text)|noescape}
			</div>
		</div>
	</div>
</div>
