{var $promoBoxes = $control->getPromoBoxes()}
{var $title = $block->getValue('title')}
{var $columns = $block->getValue('columns')}
{var $limit = $block->getValue('limit')}
{var $width = $block->getValue('width')}

<div n:if="$count = count($promoBoxes)" class="banner-area pt-60 section-padding-1">
	<div n:class="$width == 'wide' ? 'container-fluid' : 'container'">
		<div n:if="$title" class="section-title mb-45">
			<h2>{$title|brakes|noescape}</h2>
		</div>
		<div class="row">
			<div n:foreach="$promoBoxes as $item" n:if="!$limit || $iterator->counter <= $limit" n:class="$columns == 2 ? 'col-md-6' : ($columns == 3 ? 'col-md-4' : 'col-lg-3 col-md-6')">
				<div class="banner-wrap mb-30">
					<div class="banner-img banner-img-zoom">
						<a href="{$item->link}">
							<img src="{$item->image|image:promoBox}" alt="" />
						</a>
					</div>
					<div class="banner-content-2">
						<h2>{$item->name|brakes|noescape}</h2>
						<p>{$item->text|brakes|noescape}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
