{var $itemIds = $block->getValue('itemIds')}
{var $links = getLinks($itemIds ? $itemIds : [])}

{var $title = $block->getValue('text')}

<div n:if="isset($links) && count($links)" class="page-section pt-90 pb-70 section-bg-4 socials-block">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div n:if="$title" class="text-holder mb-20 title-block">
					<h4>{str_replace(array('<strong>','</strong>'), array('<span class="bu-color">','</span>'), $title)|noescape}</h4>
				</div>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="bu-socials">
					<ul class="logo-transparent">
						<li n:foreach="$links as $item" class="col-sm-4 col-xs-12 social-item">
							<figure>
								<a n:tag-if="$item->link" href="{$item->link}">
									<i n:if="$item->icon" class="{$item->icon}"></i>
								</a>
							</figure>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
