{var $productGroups = $control->getProductGroups()}
{var $title = $block->getValue('title')}
{var $columns = $block->getValue('columns')}
{var $width = $block->getValue('width')}

<div n:if="count($productGroups)" class="product-area section-padding-1 pt-75 pb-75">
	<div class="container">
		<div class="section-title-tab-wrap mb-45">
			<div n:if="$title" class="section-title">
				<h2>{$title|brakes|noescape}</h2>
			</div>
			<div class="tab-style-1 nav">
				{var $counter = 1}
				<a n:foreach="$productGroups as $i" n:if="count($control->getProductGroupsProducts($i))" n:class="$counter === 1 ? 'active'" href="#product-{$iterator->counter}" data-toggle="tab">
					{var $counter = $counter + 1}
					{$i->name}
				</a>
			</div>
		</div>
	</div>

	<div n:class="$width == 'wide' ? 'container-fluid' : 'container'">
		<div class="tab-content jump">
			{var $counter = 1}
			<div n:foreach="$productGroups as $i" n:if="count($products = $control->getProductGroupsProducts($i))" id="product-{$iterator->counter}" n:class="'tab-pane', $counter === 1 ? 'active'">
				{var $counter = $counter + 1}
				<div class="row">
					<div n:foreach="$products as $product" n:if="$price = $product->getPrice()" n:class="'col-sm-6 col-12', $columns == 3 ? 'col-lg-4' : ($columns == 4 ? 'col-xl-3 col-lg-4' : '')">
						<div class="single-product-wrap mb-35">
							<div class="product-img product-img-zoom mb-15">
								<a href="{$product->getUrl()}">
									<img src="{$product->getImageFile()|image:productList}" alt="{$product->name}" />
								</a>
								<span n:if="count($labels = $product->getLabels())" class="pro-badges right">
                                    <span n:foreach="$labels as $label" class="pro-badge" style="background-color: {$label->getBackgroundColor()|noescape}; color: {$label->getTextColor()|noescape};">{$label->name}</span>
                                </span>
							</div>
							<div class="product-content-wrap-2 text-center">
								<h3>
									<a href="{$product->getUrl()}">{$product->name}</a>
								</h3>
								<div class="product-price-2">
									<span n:class="$price->isAction() ? 'new-price'">{$price->getFinalPrice()|price}</span>
									<span n:if="$price->isAction()" class="old-price">{$price->getOriginPrice()|price}</span>
								</div>
							</div>
							<div class="product-content-wrap-2 product-content-position text-center">
								<h3>
									<a href="{$product->getUrl()}">{$product->name}</a>
								</h3>
								<div class="product-price-2">
									<span n:class="$price->isAction() ? 'new-price'">{$price->getFinalPrice()|price}</span>
									<span n:if="$price->isAction()" class="old-price">{$price->getOriginPrice()|price}</span>
								</div>
								<div class="pro-add-to-cart">
									<a href="{$product->getUrl()}">{content('products', 'btn_buy')}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
