{var $title = $block->getValue('title')}
{var $text = $block->getValue('text')}
{var $btnLink = $block->getValue('btnLink')}
{var $youtubeLink = $block->getValue('youtubeLink')}
{var $btnText = $block->getValue('btnText')}
{var $image = $block->getValue('image')}
{var $imageBackground = $block->getValue('imageBackground')}

<div class="parallax-window" data-parallax="scroll" data-image-src="{$imageBackground ? ($imageBackground|image:widthBlockBg) : ''}">
	<div class="page-section section-bg-7  pt-90 pb-90">
		<div class="container ">
			<div class="row">

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<h2 n:if="$title">{$title}</h2>
					<div class="text-custom">{$text|noescape}</div>
					<a n:if="$btnLink && $btnText" href="{$btnLink}" class="bu-button-simple bu-bgcolor button-swipe btn-4 mt-5 mb-10 m-b-lg-30">{$btnText}</a>
				</div>
				{if $youtubeLink}
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="image-holder defualt ">
							<div class="video-fit-holder">
								<div class="vendor">
									<div class="video-box">
										<img n:if="$image" src="{$image|image:aboutBlockVideo}" alt="{$image|imageTitle}">
										<div class="video-play-btn text-center">
											<a href="{$youtubeLink}" data-toggle="lightbox"><span class="ti-control-play"></span> </a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				{elseif $image}
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="img-holder defualt">
							<figure>
								<img n:if="$image" src="{$image|image:aboutBlock}" alt="{$image|imageTitle}">
							</figure>
						</div>
					</div>
				{/if}

			</div>
		</div>
	</div>
</div>
