{var $titleBlock = $block->getValue('titleBlock')}
{var $title = $block->getValue('title')}
{var $btnText = $block->getValue('btnText')}
{var $image = $block->getValue('image')}

<div class="page-section pt-90 pb-90  section-bg-gray1">
    <div class="container">
        <div class="row">
            <!-- section heading -->
            <div n:if=$titleBlock"" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$titleBlock}</h2>
                </div>
            </div>
            <!-- section heading -->
            <div class="bu-contact-form fancy">
                <div class="form-holder">
                    <div class="wrap-contact100">
                        <div n:if="$image" class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <div class="img-holder">
                                <figure>
                                    <img src="{$image|image:priceOfferForm}" alt="{$image|imageTitle}">
                                </figure>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                            {form formDynamic class => 'contact-form validate-form asp-form'}

                                <span n:if="$title" class="contact-form-text border-none">{$title}</span>
                                <div n:ifset="$form['name']" class="wrap-input50">
                                    <span n:if="$name = content('contact_form', 'name')" class="label-input100">{$name}</span>
                                    {input name class=>'input100', placeholder=>content('contact_form','name_placeholder')}
                                    <span class="focus-input100"></span>
                                </div>
                                <div n:ifset="$form['email']" class="wrap-input50">
                                    <span n:if="$email = content('contact_form', 'email')" class="label-input100">{$email}</span>
                                    {input email class=>'input100', placeholder=>content('contact_form','email_placeholder')}
                                    <span class="focus-input100"></span>
                                </div>
                                <div n:ifset="$form['phone']" n:class="isset($form['services']) ? 'wrap-input50' : 'wrap-input100'">
                                    <span n:if="$phone = content('contact_form', 'phone')" class="label-input100">{$phone}</span>
                                    {input phone class=>'input100', placeholder=>content('contact_form','phone_placeholder')}
                                    <span class="focus-input100"></span>
                                </div>

                                <div n:ifset="$form['services']" class="wrap-input50 input100-select">
                                    <span n:if="$services = content('contact_form', 'services')" class="label-input100">{$services}</span>
                                    <div>
                                        {input services class=>'selection-2'}
                                    </div>
                                    <span class="focus-input100"></span>
                                </div>

                                <div n:ifset="$form['text']" class="wrap-input100 validate-input" data-validate="Message is required">
                                    <span n:if="$message = content('contact_form', 'message')" class="label-input100">{$message}</span>
                                    {input text class=>'input100', placeholder=>content('contact_form','message_placeholder')}
                                    <span class="focus-input100"></span>
                                </div>

                                {control recaptcha form => $form, classVisibleRecaptcha => 'col-lg-12 col-md-12'}

                                <div class="container-contact-form-btn">
                                    <div n:ifset="$form['agree']" class="agree">
                                        {input agree class => 'agree-checkbox'}
                                    </div>
                                    {input template_system value=>"price_offer_form"}
                                    <button n:name="send" n:if="$btnText" class="submit asp-button bu-button-simple bu-bgcolor button-swipe btn-3">{$btnText}</button>
                                </div>
                            {/form}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>