{var $feedbacksIds = $block->getValue('feedbacks')}
{var $feedbacks = $feedbacksIds ? getFeedbacks($feedbacksIds) : getFeedbacks()}

<div n:if="isset($feedbacks) && count($feedbacks)" class="page-section pt-90 pb-90">
    <div class="container">
        <div class="row">
            <!-- section heading -->
            <div n:if="$title = $block->getValue('title')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$title}</h2>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="bu-testimonial-slider">
                    <li n:foreach="$feedbacks as $feedback">
                        <div class="bu-testimonials-v1">
                            <div class="text-holder">
                                <p n:if="$feedback->text">{$feedback->text}</p>
                                <div class="author-info">
                                    <figure n:if="$feedback->image" ><img src="{$feedback->image|image:feedback}" alt="{$feedback->image|imageTitle}"></figure>
                                    <h6 n:if="$feedback->name">{$feedback->name}</h6>
                                    <span n:if="$feedback->rank">{$feedback->rank}</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>