{var $teamIds = $block->getValue('team')}
{var $team = $teamIds ? getTeam($teamIds) : getTeam()}

<div n:if="isset($team) && count($team)" class="page-section  pt-90 pb-60  section-bg-gray1">
	<div class="container">
		<div class="row">
			<!-- section heading -->
			<div n:if="$title = $block->getValue('title')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
				<div class="section-heading ">
					<h2>{$title}</h2>
				</div>
			</div>
			<!-- section heading -->
			<div n:foreach="$team as $item" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<div class="team-view">
					<div n:class="!$item->image ? 'no-image', 'img-holder'">
						<figure>
							<img n:if="$item->image" src="{$item->image|image:team}" alt="{$item->name}">
							<div class='no-image-box' n:if="!$item->image"></div>
							<figcaption>
								<p n:if="$item->rank">{$item->rank}</p>
								<h6 n:if="$item->name"><div class="link">{$item->name}</div></h6>
								<ul n:if="$item->soc_facebook || $item->soc_twitter || $item->soc_linkedin || $item->soc_instagram || $item->soc_youtube" class="social-options">
									<li n:if="$item->soc_facebook"><a href="{$item->soc_facebook}" target="_blank"><span class="ti-facebook"></span></a></li>
									<li n:if="$item->soc_twitter"><a href="{$item->soc_twitter}" target="_blank"><span class="ti-twitter-alt"></span></a></li>
									<li n:if="$item->soc_linkedin"><a href="{$item->soc_linkedin}" target="_blank"><span class="ti-linkedin"></span></a></li>
									<li n:if="$item->soc_instagram"><a href="{$item->soc_instagram}" target="_blank"><span class="ti-instagram"></span></a></li>
									<li n:if="$item->soc_youtube"><a href="{$item->soc_youtube}" target="_blank"><span class="fab fa-youtube"></span></a></li>
								</ul>
								<p n:if="$item->phone || $item->email" class="color-white">
									{if $item->phone}<strong n:if="$phoneTitle = content('teams','phonetitle')">{$phoneTitle} </strong><a class="color-white" href="tel:{$item->phone}">{$item->phone}</a><br>{/if}
									{if $item->email}<strong n:if="$emailTitle = content('teams','emailtitle')">{$emailTitle} </strong><a class="color-white" href="mailto:{$item->email}">{$item->email}</a>{/if}
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

