{var $downloadsIds = $block->getValue('downloads')}
{var $downloads = $downloadsIds ? getDownloads($downloadsIds) : getDownloads()}

<div n:if="$downloads" class="page-section pt-60 pb-90">
    <div class="container">
        <div class="row">
            <div n:foreach="$downloads as $download" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="service-download">
                    <h4>{$download->name}</h4>
                    <ul n:if="$files = $download->getFiles()">
                        <li n:foreach="$files as $file"><a href="{$file->file|file}" download="{$file->file}"><span class="ti-download"></span>{$file->name}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>