{var $itemIds = $block->getValue('partners')}
{var $partners = $itemIds ? getPartners($itemIds) : getPartners()}

<div n:if="isset($partners) && count($partners)" class="page-section pt-90 pb-90 section-bg-4">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="bu-partners">
					<div n:if="$title = $block->getValue('text')" class="text-holder mb-20">
						{str_replace(array('<strong>','</strong>'), array('<span class="bu-color">','</span>'), $title)|noescape}
					</div>

					<ul class="logo-transparent">
						<li n:foreach="$partners as $item" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
							<figure>
								<a n:tag-if="$item->link" href="{$item->link}">
									<img n:if="$item->image" src="{$item->image|image:partner}" alt="{$item->name}">
								</a>
							</figure>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</div>
