{var $whyUs = $control->getWhyUs()}

<div n:if="count($whyUs)" class="service-area">
	<div class="container">
		<div class="service-wrap pt-60">
			<div class="row">
				{foreach $whyUs as $item}
					<div class="col-lg-{if count($whyUs) >= 4}3{elseif count($whyUs) == 3}4{elseif count($whyUs) == 2}6{else}12{/if} col-md-6 col-sm-6 col-12">
						<div class="single-service-wrap mb-30">
							<div n:if="$item->icon" class="service-icon">
								<i class="{$item->icon}"></i>
							</div>
							<div class="service-content">
								<h3 n:if="$item->title">{$item->title|brakes|noescape}</h3>
								<span n:if="$item->text">{$item->text|brakes|noescape}</span>
							</div>
						</div>
					</div>
				{/foreach}

			</div>
		</div>
	</div>
</div>
