<ul n:if="$control->getPaginator()->getPageCount() > 1" class="pagination">
  <li n:if="$control->getPaginator()->page > 1"><a class="prev" n:href="changePage! ($control->getPaginator()->page - 1)"><span class="ti-angle-left"></span></a></li>
  <li n:foreach="$control->getPages() as $i" n:class="($i == $control->getPaginator()->page) ? 'active'"><a n:href="changePage! $i">{$i}</a></li>
  <li n:if="$control->getPaginator()->getPageCount() > $control->getPaginator()->page"><a class="next" n:href="changePage! ($control->getPaginator()->page + 1)"><span class="ti-angle-right"></span></a></li>
</ul>
