{layout '../@layout.latte'}

{block content}
{include '../__inc/header.latte'}

<div class="page-section pt-90 pb-90">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="bu-error-content">
                    <strong>{$errorCode}</strong>
                    <div class="text-custom">{content('error', 'text') ? content('error', 'text') : '<p></p>'|noescape}</div>

                    <a n:if="$btnBack = content('error', 'btn_home')" href="{page('home')->full_url}" class="bu-button-simple bu-bgcolor button-swipe btn-1">{$btnBack}</a>
                </div>
            </div>
        </div>
    </div>
</div>

{control contentBlocks}
