.p-30 {
    padding: 30px !important;
}

.pt-10{
    padding-top: 10px!important;
}

.pt-20{
    padding-top: 20px!important;
}

.pt-30{
    padding-top: 30px!important;
}

.pt-40{
    padding-top: 40px!important;
}

.pb-10{
    padding-bottom: 10px!important;
}

.pb-30{
    padding-bottom: 30px!important;
}

.pb-40{
    padding-bottom: 40px!important;
}

.mt-25{
    margin-top: 20px!important;
}

.mt-40{
    margin-top: 40px!important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.uf-center{
    float: unset;
    text-align: center;
    margin: 0px auto;
}

.price-discount{
    text-decoration: line-through;
    padding-right: 10px;
    font-size: 14px;
}

.bold{
    font-weight: bold;
}

input.agree-checkbox {
    position: absolute;
    left: 0px;
    top: 2px;
}

.agree-custom label {
    display: inline-block;
    position: relative;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    padding: 0 0 0 22px;
    font-weight: normal;
}

.content ol{
    margin-left: 28px;
}

option{
    padding-right: 5px;
}

.lang img{
    border-radius: 0px;
}

.topbar .lang div{
    display: inline-block;
    float: left;
    height: 20px;
}

.content .list-style ol li:before{
    content: unset;
}

.content .list-style ol li{
    padding-left: 0px;
}

.custom-error-page .btn-1{
 color: #ED4B41;
}

.project-feedback .profile{
    text-align: left;
}

.project-feedback .quotes-slider{
    padding-left: 0px;
}

.wgs-box.wgs-menus ul.list-grouped > li.list-heading span a{
    padding: 12px 25px;
    display: block;
    background-color: #f8f8f8;
    text-transform: uppercase;
    color: #1863AB;
    transition: color 0.4s;
}

.wgs-box.wgs-menus ul.list-grouped > li.list-heading span a:hover,
.wgs-box.wgs-menus ul.list-grouped li.active span a
{
    color: #ED4B41;
}

.wgs-box.wgs-menus ul.list-grouped li.active span a,
.wgs-box.wgs-menus ul.list-grouped ul li.active a{
    cursor: default;
}

.check-box{
    position: relative;
    padding-left: 22px;
}

.similar-products .post-entry h2{
    margin: 0px;
}

.check-box label{
    font-weight: normal;
}

.wgs-box .wgs-heading{
    text-transform: unset;
}

.product-detail img{
    width: 100%;
}

.product-detail .price{
    font-size: 20px;
}

.ul-styled-custom ol{
    margin-left: 0px;
}

.ul-styled-custom ol li{
    list-style-position: inside;
    padding-left: 0px;
    margin-left: 0px;
}

.ul-styled-custom ul li {
    position: relative;
    margin-left: 0;
    margin-bottom: 12px;
    display: list-item;
    list-style-position: inside;
}

.ul-styled-custom ul li:before{
    font-family: 'FontAwesome';
    content: '\f105';
    color: #1863AB;
    left: 1px;
    top: 4px;
    margin-right: 5px;
    font-size: 16px;
    line-height: 18px;
}

.category-item .icon-box h4{
    position: relative;
    color: white;
    z-index: 14;
    margin-top: 18px;
}

.category-item .icon-box {
    background-size: 100% auto;
    background-position: contain, cover;
    border: 1px solid #eeeeee !important;
    border-radius: 6px;
    width: 100%;
}


.category-item:hover .icon-box{
    position: relative;
}
.category-item .icon-box .overlay-shade{
    opacity: 0;
}

.category-item:hover .icon-box .overlay-shade{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    background-color: #fff;
    opacity: 0.3;
    filter: alpha(opacity=30);
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    border-radius: 6px;
}

.category-item .bg-lighter{
    background-color: rgba(17, 17, 17, 0.5)!important;
    height: 144px;
}

.category-item .bg-lighter{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}
.category-item .bg-lighter h4 {
    margin: 0px auto;
}

.section-content .category-item {
    margin-bottom: 5px;
}

.products-categories .sub-categories a {
    text-decoration: none;
}

.agree .check-box label{
    padding-left: 0px!important;
}

.panel-group.faqs a {
    transition: unset!important;
}

@media only screen and (max-width: 990px) {
    .pb-md-0 {
        padding-bottom: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    .products-categories
    .fix-height-md .height{
        height: auto !important;
    }

    .gallery-products .photos-list > li{
        padding-top: 30px;
    }
}