{block content}

{include '../__inc/header.latte'}


<div class="page-section  pt-90 pb-80">
    <div class="container">
        <div class="row fix-height">
            <!-- section heading -->
            <div n:if="$title = content('services','title')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$title}</h2>
                </div>
            </div>
            <!-- section heading -->
            <!-- Services View Start -->
            <div n:foreach="$services as $item" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                {var $serviceLink = $item->link ? $item->link : page('services')->full_url."/".$item->slug."/".$item->id}
                {var $targetBlank = $item->open_to_blank ? "target='_blank'" : "target='_self'"}
                <div class="bu-services-img  mb-30">
                    <div n:if="$item->image" class="img-holder">
                        <figure>
                            <a href="{$serviceLink}" {$targetBlank|noescape}><img src="{$item->image|image:serviceThumb}" alt="{$item->name}"></a>
                        </figure>
                    </div>
                    <div class="text-holder height">
                        <h4 n:if="$item->name"><a href="{$serviceLink}" {$targetBlank|noescape}>{$item->name}</a></h4>
                        <div n:if="$item->description" class="text-custom">{$item->description|noescape}</div>
                        <a href="{$serviceLink}" {$targetBlank|noescape} class="bu-color link"><span class="ti-arrow-right"></span></a>
                    </div>
                </div>
            </div>
            <!-- Services View End -->
        </div>
    </div>
</div>

{control contentBlocks}

