{block content}

{include '../__inc/header.latte'}
{var $images = $item->getImages()}

<div class="page-section pt-90 pb-80">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div n:if="isset($items) && count($items)" class="service-links">
                    <h4 n:if="$menutitle = content('services','menutitle')">{$menutitle}</h4>
                    <ul>
                        <li n:foreach="$items as $itemMenu" n:class="$itemMenu->id == $item->id ? 'active'"><a href="{$page->full_url}{$itemMenu->getUrl()}">{$itemMenu->name}</a></li>
                    </ul>
                </div>
                <div n:if="$downloads = $item->getDownloads()" class="service-download">
                    <h4 n:if="$menutitle = content('services','downloadstitle')">{$menutitle}</h4>
                    <ul>
                        {foreach $downloads as $download}
                            <li n:foreach="$download->getFiles() as $file"><a href="{$file->file|file}" title="{$file->name}" download="{$file->file}"><span class="ti-download"></span>{$file->name}</a></li>
                        {/foreach}
                    </ul>
                </div>
            </aside>
            <div class="section-content col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div n:if="$item->image" class="row mb-40">
                    <div class="img-holder-inner">
                        <figure>
                            <a class="lightbox overlay" href="{$item->image|image:original}" data-toggle="lightbox" data-gallery="example-gallery">
                                <img src="{$item->image|image:service}" class="img-fluid" style="width:100%">
                            </a>
                        </figure>
                    </div>
                </div>
                <div class="row">
                    <div n:if="$item->text" n:class="$images ? 'pb-20', 'column-text pl-40 pr-40 text-custom'">
                        <h4 n:if="$item->title || $item->name">{$item->title ? $item->title : $item->name}</h4>
                        {$item->text|noescape}
                    </div>
                </div>

                <div n:if="count($images)" class="row">
                    <div class="gallery-v1">
                        <div n:foreach="$images as $image" class="col-sm-6 col-md-4 picbox">
                            <a class="lightbox overlay" href="{$image->file|image:original}" data-toggle="lightbox" data-gallery="example-gallery">
                                <figure><img src="{$image->file|image:gallery}" class="img-fluid"></figure>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div n:if="$projects = $item->getProjects()" class="page-section pt-90 pb-60 section-bg-8">
    {var $pgProjects = page('projects')}

    <div class="container">
        <div class="row">

            <div n:if="$servicesTitle = content('services', 'projects_title')" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-40">
                <div class="section-heading">
                    <h2>{$servicesTitle}</h2>
                </div>
            </div>

            <ul class="portfolio-slider fix-height">
                <li n:foreach="$projects as $project" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="bu-porfolio-classic">
                        <div class="img-holder">
                            <figure>
                                <a href="{$pgProjects->full_url}{$project->getUrl()}"><img src="{$project->image|image:projectThumb}"></a>
                            </figure>
                        </div>
                        <div class="text-holder pt-20 pb-20 height">
                            <span n:if="$category = $project->getCategory()" class="category">{$category->name}</span>
                            <h3 n:if="$project->name"><a href="{$pgProjects->full_url}{$project->getUrl()}">{$project->name}</a></h3>
                            <a href="{$pgProjects->full_url}{$project->getUrl()}" class="bu-color link"><span class="ti-plus"></span></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
